altgraph==0.17.4
babel==2.17.0
defusedxml==0.7.1
fonttools==4.58.4
macholib==1.16.3
packaging==25.0
pillow==10.4.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pypng==0.20220715.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
python-barcode==0.15.1
qrcode==7.4.2
reportbro-fpdf2==2.7.9
reportbro-lib==3.11.0
simpleeval==1.0.3
typing_extensions==4.14.0
XlsxWriter==3.2.3
